<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Django Store</a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="text-center">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>